
<div class="container-fluid block-list__container anim-hide {{module.theme}}"
     delay-percent="0"
     bind-scroll-to="{{bindScrollto}}"
     when-visible="animateElementIn">

    <h3 class="block-list__title" ng-if="getTitle(module)" ng-bind-html="getTitle(module)"></h3>

    <div class="container-fluid">

        <div class="swiper-container swiper-{{module.id}}">
            <!-- Swiper -->
            <div class="swiper-wrapper">

                <div class="swiper-slide" ng-repeat="item in module.images">

                    <div class="swiper-slide__slide">

                        <image_background_db
                                ng-if="item"
                                filter_name="'block_slide'"
                                image="item"
                                module=module
                                img_class="block-slide__image"
                                class=""
                                alt="{{getTitle(module)}}">
                        </image_background_db>

                        <structured_data module="module"></structured_data>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-{{module.id}}" ></div>

</div>
